[submodule "unicorn_mode/unicornafl"]
	path = unicorn_mode/unicornafl
	url = https://github.com/AFLplusplus/unicornafl
[submodule "custom_mutators/grammar_mutator"]
	path = custom_mutators/grammar_mutator/grammar_mutator
	url = https://github.com/AFLplusplus/Grammar-Mutator
[submodule "qemu_mode/qemuafl"]
	path = qemu_mode/qemuafl
	url = https://github.com/AFLplusplus/qemuafl
[submodule "cs_mode/patchelf"]
	path = cs_mode/patchelf
	url = https://github.com/NixOS/patchelf.git
[submodule "cs_mode/coresight-trace"]
	path = cs_mode/coresight-trace
	url = git@github.com:RICSecLab/coresight-trace.git
